h1
{
	color:rgb(218, 141, 42);
	text-align: center;
	font-style: italic;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img
{
	border-style: double;
    border-color: black;
}

.img
{
    border-style: double;
    border-color: black;
    float:right;
}

h4
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

h2
{
    color:black;
	text-align: center;
	font-style: italic;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 2px solid rgb(216, 47, 81);
    position: relative;
    left: 100px;
    top: 0px;
}

thead
{
    color: rgb(161, 55, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tbody
{
    color: rgb(161, 55, 48);
    font-family: 'Verdana','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'sans-serif';
}

body
{
    background-image: url("https://e7.pngegg.com/pngimages/638/403/png-clipart-rolling-pins-kitchen-utensil-coloring-book-drawing-kitchen-miscellaneous-angle.png");
    background-position: center;
    background-size: auto;
    background-repeat: repeat-y;
    background-color: beige;
}

a
{
    font-family: 'Verdana','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'sans-serif';
    color: rgb(161, 55, 48);
    position: relative;
    left: 1070px;
}

form
{
    font-family: 'Verdana','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'sans-serif';
    color: rgb(161, 55, 48);
}